*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}::-webkit-scrollbar{
	width: 3px;
}
::-webkit-scrollbar-thumb{
	background: linear-gradient(transparent,#0ff,transparent);
	border-radius: 6px;
}
body{position: relative;
    align-self: center;
    max-width: 1100px;
   background-color:rgb(0, 0, 0);
    margin: auto;padding: auto;
}
.main_container{
    background-image: url(./assests/abstract-science-fiction-futuristic-background-with-red-blue-neon-lights\ \(4\).jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 0;
    color: white;
    box-shadow: 0px 3px 22px rgba(255, 255, 255, 1);
	border-radius: 5px;
    display: flex;
    overflow:hidden;
    align-items: inherit;
    justify-content: center;
    
}
.main_container .leftbar{
    flex: 0.4;
    flex-direction: column;
    display: flex;
    justify-content: space-between; 
    background-color: #00000047;
    position: relative;
    align-items: center;
    animation: revealleft 3s ;
}
@keyframes revealleft {
    from {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
        color: black;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}@keyframes reveal {
    from {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}
.main_container .leftbar .logo{
    order: 1;
    margin: 0.5em;
    flex:1 0.5 ;
    display: flex;
}
 .main_container .leftbar .logo img{
    align-self: center;
    animation: rotate 6s infinite linear;
} 
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
   } 
.main_container .leftbar .title{
    order: 2;
    flex: 4;
    margin: 0.8em;
    display: flex;
}
.main_container .leftbar .cu{
    order: 3;
    flex:1.5;
    display: flex;
    margin: 0.5em;
}
.main_container .leftbar .cu img{
    padding-left:10px ;
}
.main_container .rightbar{
    flex: 0.4;
    border-left:rgba(102, 252, 241, 1) 3px solid;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    animation: reveal 3s;
}
.main_container .rightbar div{
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom:white 2px solid;   */
    text-align: center;
    height: 10%;
    background: linear-gradient(-90deg, #000000, #000000, #63d6ff);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    text-decoration: underline;
    cursor:pointer;
}
.main_container .rightbar div span{
    color:rgba(102, 252, 241, 1);
    letter-spacing: 2px;
    text-decoration: underline;
}
.main_container .rightbar div:hover{
    background-color:rgba(102, 252, 241, 1);
    color:white;
}
.main_container .rightbar div:hover span{
    background-color:rgba(102, 252, 241, 1);
    color: black;
}
.main_container .main_box{
    flex: 4;
    display: flex;
    flex-direction: column;
}
.main_container .main_box .welcome{
    margin: 0.8em;
    width: 33%;
    margin-left: 3em;
    margin-top: 1em;
    animation: revealbot 4s;
}
@keyframes revealbot {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}
.main_container .main_box .origin{
    margin: 0.8em;
    width: 15%;
    margin-left: 4em;    
    
    transform-origin: right;
}
.main_container .main_box .origin img{
    animation: revealorigin 2s linear;
}
@keyframes revealorigin {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}@keyframes reveals {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.main_container .card_box{
    align-self: center ;flex:4;
    flex-direction: column;
    align-self: center ;
    animation: reveals 1.5s ease;
}
.story_box{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 1s; 
    background-color:rgba(22,22,35, 0.8);
    display: flex;
        justify-content: center;
        align-items: center;
}
.content1{
    background-image: url(./assests/4238568.jpg);
    background-position: center;
    background-size: cover;
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
    text-align: center;
    
}

.begintxt{
    text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    cursor: pointer;
}
.beginh3:hover span{
    
	color:rgba(102, 252, 241, 1);
}
.rotatemsg{
    font-size: 0.9em;
    display: none;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.7);
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
 .beginh3{
     display: none;
 }
 .rotatemsg{
     cursor: pointer;
    display: unset;
}
}