.container{
	background-image: url(./assests/3163\ \(2\).webp);
    background-position: center;
    background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	max-width: 1200px;
	z-index: 3;transition: 1s;
}
::-webkit-scrollbar{
	width: 3px;
}
::-webkit-scrollbar-thumb{
	background: linear-gradient(transparent,#0ff,transparent);
	border-radius: 6px;
}
.container .card{
	position: relative;
	width: 40%;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
	border-radius: 15px;
	background:rgba(255,255,255,0.1);
		overflow: auto;
	flex-wrap: wrap;
	opacity: 0;
	display: none;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	backdrop-filter:blur(30px);
	transition: ease;
}

.bar{
    display: none;
    position: absolute;
    left: 27%;
    box-shadow: 0px 0px 16px 2px cyan;
    border: 2px solid aqua;
    border-radius: 50px;
    width: 3px;
    height: 80%;
    background-color: rgb(102 252 241);
    z-index: 5;
}
@media (max-width:732px){
	.container{
        overflow: auto;
        overflow-wrap: normal;
    }
	.card{
        overflow: scroll;
        overflow-wrap: normal;
    }
}
.container .card .content{
	padding: 20px;
	text-align: center;
	opacity:1;
	transition: 0.5s;
}
.container .card .content h2{
	position: absolute;
	top: -80px;
	right: 30px;
	font-size: 8em;
	color: rgba(255,255,255,0.05);
	pointer-events: none;
}
.container .card .content h3{
	font-size: 1.8em;
	color: #fff;
	z-index: 3
}.container .card .content p{
	font-size: 130%;
	color: #fff;
}
.container .card .content a{
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background: rgb(102 252 241);
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.container .card .content span{
	opacity: 0;
	transition: all 1s ease;
}
.container .card .content span.fade{
	opacity: 1;
}
.proceed{
	filter: drop-shadow(2px 4px 1px black);
	opacity: 0;
	display: none;
	visibility: hidden;
	font-size: 1.6em;
	cursor: pointer;
	border-radius: 10px;
	border-bottom: 2px solid aqua;
}
.hint_section{
	display: none;
	width: 90%;
	opacity: 0;
}
.hint_box{
	display: flex;
	width:10%;
	margin: 4px;flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}
.hint-img{
	width: 80%;
	height: auto;
	transition: 0.5s ease;filter: brightness(2);
}

.hint-img:hover{
	transform: translateY(-10px);filter: brightness(10);
	
}
.bulb{
	width: 80%;
	opacity: 0;
	display: none;
	filter: brightness(1.5);
}.bulb:hover{
	filter: brightness(3.5);
}
.tooltip {
	position: relative;
	display: flex;
	border-bottom: 1px dotted black;
  }
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 40px;
	left: 80%;
  }
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
  }
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }  
/* .lvl:hover 
{
	transform:scale(2);
} */
