 .card1{
	position: relative;
} .card1 .face{
	backdrop-filter:blur(55px);
	width: 100%;
	/* height: 250px; */
	overflow: hidden;
	border-radius: 10px;
	transition: 0.4s;
	/* box-shadow: 1px -3px 34px rgba(255,255,255,0.3) */
} .card1 .face.face1{
	position: relative;
	background: rgb(14, 14, 15);
	display: flex; 
	/* padding: 28%; */
	justify-content: center;
	align-items: center;
	align-content: center;
	z-index: 1;
	/* transform: translateY(100px); */
} .card1:hover .face.face1{
	box-shadow: 
	inset 0 0 60px #fff,
	inset 20px 0 80px #f0f,
	inset -20px 0 80px #0ff,
	inset 20px 0 300px #f0f,
	inset -20px 0 300px #0ff,
	0 0 50px #fff,
	-10px 0 80px #f0f,
	10px 0 80px #0ff;
	/* transform: translateX(0px); */
	
} .card1 .face.face1 .content{
	opacity: 1;
	text-align: center;	
	transition: 0.5s;
} .card1:hover .face.face1 .content h3{
	filter: drop-shadow(2px 5px 4px rgba(0,0,0,0.8));
	color:white;
} .card1:hover .face.face1 .content h3 span{
	
	color:rgba(102, 252, 241, 1);
	;
} 
 .card1 .face.face1 .content h1 span{
	color:rgba(102, 252, 241, 1);
	letter-spacing: 2px;
}
.card1:hover .face.face1 .content h1 span{
	color:white;
}
.card1 .face.face2{
	position: relative;
	background: rgb(48, 48, 48);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6% 14%;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transform: translateY(-87%);
}
.card1:hover .face.face2{
	transform: translateY(-11%); }
	 .card1 .face.face2.content p,a{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #333;
} .card1 .face.face2 .content a{
	text-decoration:none;
	color: #fff;
	box-sizing:border-box;
	box-shadow: 3px 6px 6px rgba(0,0,0,0.5);
	padding:10px 24px;
	margin: 15px 0 0;
	display: block;
	text-align: center;
	background: #444;transition: 0.5s;
} .card1 .face.face2 .content a:hover{
	color: #111;
	transform:rotate(1deg);
}
.inset {
    /* padding: 20px; */
	opacity: 0;
  }
  .face1 h1 {
    font-size: 200%;
    padding: 15% 0;
    /* position: relative; */
    text-align: center;
	transform: translateY(60%);
    text-shadow: 0 1px 0 #000;
	transition: 0.5s ease;
  }
   
  .face.face1 .glare {
	  opacity: 0;
    position: absolute;
    width: 55%;
    height:96%;
    content: "";
	z-index:-1;
    display: flex;
    pointer-events: none;
    top: 0%;
    margin-left: 34%;
    transform-style: flat;
    transform: skew(20deg);
    background: -moz-linear-gradient(top, hsla(0,0%,100%,0.1) 0%, hsla(0,0%,100%,0) 100%);
    background: -webkit-linear-gradient(top, hsla(0,0%,100%,0.1) 0%,hsla(0,0%,100%,0) 100%);
    background: -o-linear-gradient(top, hsla(0,0%,100%,0.1) 0%,hsla(0,0%,100%,0) 100%);
    background: -ms-linear-gradient(top, hsla(0,0%,100%,0.1) 0%,hsla(0,0%,100%,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42ffffff', endColorstr='#00ffffff',GradientType=0 );
    background: linear-gradient(to bottom, hsla(0,0%,100%,0.1) 0%,hsla(0,0%,100%,0) 100%);
  
  }
  input[type=text], input[type=password] {
    background: linear-gradient(#1f2124,#27292c);
    border: 1px solid #222;
    border-radius: .3em;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    color: #FFF;
    font-size: 80%;
    margin-bottom: 14%;
    padding: 7% 9%;
    width: 100%;
  }
  
  input[type=text]:disabled, input[type=password]:disabled {
      color: rgb(0, 0, 0);
  }
  .card1:hover .inset{
	opacity: 1;
	transition: 0.7s ease;
  }
  .card1:hover h1{
	transform: translateY(0%);
	color:rgba(102, 252, 241, 1);

	transition: 0.5s ease;
  }
  .card1:hover .glare{
	  opacity:1;
  }
  .poweron {
	color: #000000;
	transition: all 0.5s;
	animation: flicker 1.5s ease-in-out 1 alternate;
  }
  @keyframes neon {
	from {
	  text-shadow: 
	  0 0 2.5px #fff,
	  0 0 5px #fff,
	  0 0 7.5px #fff,
	  0 0 10px #00d9ff,
	  0 0 17.5px #00d9ff,
	  0 0 20px #00d9ff,
	  0 0 25px #00d9ff,
	  0 0 37.5px #00d9ff;
	}
  
	to {
		text-shadow: 
		0 0 3px #fff,
		0 0 7px  #fff,
		0 0 13px  #fff,
		0 0 17px  #00d9ff,
		0 0 33px  #00d9ff,
		0 0 38px  #00d9ff,
		0 0 48px #00d9ff,
		0 0 63px #00d9ff;
	  }
  }
  
  @keyframes flicker {
	0% {
	  text-shadow: 
	  0 0 2.5px #fff,
	  0 0 5px #fff,
	  0 0 7.5px #fff,
	  0 0 10px #00d9ff,
	  0 0 17.5px #00d9ff,
	  0 0 20px #00d9ff,
	  0 0 25px #00d9ff,
	  0 0 37.5px #00d9ff;
	}
  
	2% {
	  text-shadow: none;
	}
  
	8% {
	  text-shadow: 
	  0 0 2.5px #fff,
	  0 0 5px #fff,
	  0 0 7.5px #fff,
	  0 0 10px #00d9ff,
	  0 0 17.5px #00d9ff,
	  0 0 20px #00d9ff,
	  0 0 25px #00d9ff,
	  0 0 37.5px #00d9ff;
	}
  
	10% {
	  text-shadow: none;
	}
  
	20% {
	  text-shadow: 
	  0 0 2.5px #fff,
	  0 0 5px #fff,
	  0 0 7.5px #fff,
	  0 0 10px #00d9ff,
	  0 0 17.5px #00d9ff,
	  0 0 20px #00d9ff,
	  0 0 25px #00d9ff,
	  0 0 37.5px #00d9ff;
	}
  
	22% {
	  text-shadow: none;
	}
  
	24% {
	  text-shadow: 
	  0 0 2.5px #fff,
	  0 0 5px #fff,
	  0 0 7.5px #fff,
	  0 0 10px #00d9ff,
	  0 0 17.5px #00d9ff,
	  0 0 20px #00d9ff,
	  0 0 25px #00d9ff,
	  0 0 37.5px #00d9ff;
	}
  
	28% {
	  text-shadow: none;
	}
  
	32% {
	  text-shadow: 
	  0 0 2.5px #fff,
	  0 0 5px #fff,
	  0 0 7.5px #fff,
	  0 0 10px #00d9ff,
	  0 0 17.5px #00d9ff,
	  0 0 20px #00d9ff,
	  0 0 25px #00d9ff,
	  0 0 37.5px #00d9ff;
	}
  
	34% {
	  text-shadow: none;
	}
  
	36% {
	  text-shadow: none;
	}
  
	42% {
	  text-shadow: none;
	}
  
	100% {
	  text-shadow: 
	  0 0 2.5px #fff,
	  0 0 5px #fff,
	  0 0 7.5px #fff,
	  0 0 10px #00d9ff,
	  0 0 17.5px #00d9ff,
	  0 0 20px #00d9ff,
	  0 0 25px #00d9ff,
	  0 0 37.5px #00d9ff;
	}
  }  