 .card1{
	position: relative;
} .card1 .face{
	backdrop-filter:blur(55px);
	width: 100%;
	/* height: 250px; */
	transition: 0.4s;
	/* box-shadow: 1px -3px 34px rgba(255,255,255,0.3) */
} .card1 .face.face1{
	position: relative;
	background: rgb(14, 14, 15);
	display: flex; 
	padding: 28%;
	justify-content: center;
	align-items: center;
	align-content: center;
	z-index: 1;
	/* transform: translateY(100px); */
} .card1:hover .face.face1{
	box-shadow: 
	inset 0 0 60px #fff,
	inset 20px 0 80px #f0f,
	inset -20px 0 80px #0ff,
	inset 20px 0 300px #f0f,
	inset -20px 0 300px #0ff,
	0 0 50px #fff,
	-10px 0 80px #f0f,
	10px 0 80px #0ff;
	/* transform: translateX(0px); */
	
} .card1 .face.face1 .content{
	opacity: 1;
	text-align: center;	
	transition: 0.5s;
} .card1:hover .face.face1 .content h3{
	filter: drop-shadow(2px 5px 4px rgba(0,0,0,0.8));
	color:white;
} .card1:hover .face.face1 .content h3 span{
	
	color:rgba(102, 252, 241, 1);
	;
} 
.card1 .face.face1 .content h3{
	font-size: 25px;
	color:rgba(102, 252, 241, 1);
	text-align: center;letter-spacing: 1px;
	
}  .card1 .face.face1 .content h3 span{
	color:white;
	letter-spacing: 2px;
}
.card1 .face.face2{
	position: relative;
	background: rgb(48, 48, 48);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6% 14%;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transform: translateY(-87%);
}
.card1:hover .face.face2{
	transform: translateY(-11%); }
	 .card1 .face.face2.content p,a{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #333;
} .card1 .face.face2 .content a{
	text-decoration:none;
	color: #fff;
	box-sizing:border-box;
	box-shadow: 3px 6px 6px rgba(0,0,0,0.5);
	padding:10px 24px;
	margin: 15px 0 0;
	display: block;
	text-align: center;
	background: #444;transition: 0.5s;
} .card1 .face.face2 .content a:hover{
	color: #111;
	transform:rotate(1deg);
}
/* .card1:hover .face.face2 .content a{ */
	/* transform: translateY(30px); */
/* } */
.card1:hover .face.face2 .content p{
	opacity: 0;
	
}
